<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1000"/>
    <title>Portfolio Website</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#quality">Quality</a></li>
            <li><a href="#skill">Skill</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>


    <div class="container">

        <section id="home">
            <img src="/static/image/self.png" alt="">
            <h2>I'm</h2>
            <h1>Sourabh Sharma</h1>
            <a href="https://drive.google.com/file/d/1wgg-9Bomra4dpjSjhAm6Og9cDoRSUzue/view?usp=sharing" target="_blank"><button id="navbtn">
                Download CV
            </button>
        </section></a>


        <section id="about">

            <div class="about_image">
                <img src="/static/image/side.jpg" alt="">
            </div>
            <div class="about_text">
                <h1>About Me</h1>
                <p>Hey, Sourabh Here. I am interested in Web Development and Machine Learning. Looking for
                    opportunities.</p>

                <div id="about_list">
                    <ul>
                        <li>Email ID: sourabh125ss@gmail.com</li>

                        <div class="git">
                            <a href="https://github.com/Sourabh-SS" target="_blank"><img src="/static/image/Github.png"></a>
                            <li>GitHub ID: <a href="https://github.com/Sourabh-SS" target="_blank">Sourabh-SS</a>
                            </li>
                        </div>

                        <div class="git">
                            <a href="https://www.linkedin.com/in/sourabh-sharma-061a54240" target="_blank"><img
                                    src="/static/image/LinkedIn.png"></a>
                            <li>LinkedIn ID: <a href="https://www.linkedin.com/in/sourabh-sharma-061a54240"
                                    target="_blank">Sourabh-Sharma</a></li>

                        </div>




                    </ul>
                </div>
            </div>

        </section>
        <section id="quality">
            <h1>Educational Qualification</h1>
            <div class="edu">
                <div class="card" id="card1">
                    <h2>MNIT Jaipur</h2>
                    <ul>
                        <img src="/static/image/MNIT-modified.png" alt="MNIT Jaipur">
                        <li>Bachelor of Technology (B.Tech.)</li>
                        <li>Computer Science and Engineering</li>
                        <li class="inline">July 2021 - Present</li>
                        <li class="inline">CGPA: 9.65</li>
                    </ul>
                    
                </div>
                <div class="card" id="card2">
                    <h2>Kendriya Vidyalaya</h2>
                    <ul>
                        <img src="/static/image/kvs-logo.png" alt="MNIT Jaipur">
                        <li>Senior Secondary (Class XII)</li>
                        <li>Central Board of Secondary Education</li>
                        <li class="inline">July 2019 - July 2021</li>
                        <li class="inline">Grade: 96.4%</li>
                    </ul>
                </div>
                <div class="card" id="card3">
                    <h2>Oxford Junior College</h2>
                    <ul>
                        <img src="/static/image/ojc-modified.png" alt="MNIT Jaipur">
                        <li>Higher Secondary (Class X)</li>
                        <li>Central Board of Secondary Education</li>
                        <li class="inline">July 2019</li>
                        <li class="inline">Grade: 95.4%</li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="skill">
                <h2>Skills</h2>
                <div class="skillbar">
                    <div class="name">HTML</div>
                    <div class="bar">
                        <div per="90%" style="max-width: 90%"></div>
                    </div>
                </div>
                <div class="skillbar">
                    <div class="name">CSS</div>
                    <div class="bar">
                        <div per="40%" style="max-width: 40%"></div>
                    </div>
                </div>
                <div class="skillbar">
                    <div class="name">JavaScript</div>
                    <div class="bar">
                        <div per="40%" style="max-width: 40%"></div>
                    </div>
                </div>
                <div class="skillbar">
                    <div class="name">NodeJs</div>
                    <div class="bar">
                        <div per="30%" style="max-width: 30%"></div>
                    </div>
                </div>
                <div class="skillbar">
                    <div class="name">MongoDB</div>
                    <div class="bar">
                        <div per="60%" style="max-width: 60%"></div>
                    </div>
                </div><div class="skillbar">
                    <div class="name">Machine Learning</div>
                    <div class="bar">
                        <div per="40%" style="max-width: 40%"></div>
                    </div>
                </div>
                <footer>
                    <div>
                    &copy; Copyright 2023 www.sourabhspace.com
                </div>
            </footer>

    </div>


</body>

</html>
